body {text-align: center; background-color: #417D7A;}

#container {
  width: 70%; border: 1px solid #FEFBE7; border-radius: 30px; margin: 50px auto;
  background-color: #FEFBE7;
}

.dark {opacity: 50%;}

h1 { margin: 30px auto 50px auto; font-family: 'Merienda', cursive;
    font-size: 5rem; font-weight: bold; color: #006E7F;}
p {
  padding: 50px 0 10px 0;
}
.color {width: 200px; height: 200px; border: 1px solid white; border-radius: 30%;}
.row {display: flex; flex-direction: row; width: 460px; margin: auto; justify-content: space-between;
      margin-bottom: 50px;}

.up1 {background-color: #4700D8;}
.up2 {background-color: #9900F0;}
.down3 {background-color: #F900BF;}
.down4 {background-color: #FF85B3;}

.react {
  box-shadow: 0 0 5px 5px black;
  opacity: 0.2;
}
